/node_modules
/public/hot
/public/storage
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/
!/storage/app/tests/*
/results.txt
/.env.testing
/.env.dusk.local
/.env.dusk.tenants
/.env.svg
/result.txt
