/node_modules
/public/hot
/public/storage
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/
/vendor
!/storage/app
/storage/app/backup
/storage/app/public
!/storage/app/tests/central_nominal.gz
!/storage/app/tests/tenant_nominal.gz
/results.txt
/results
/.env.testing
/.env.dusk.local
/.env.dusk.tenants
/.env.svg
/result.txt
/.env (Copie en conflit de DESKTOP-RC6BFKD 2022-05-30)
/.phpunit.result (Copie en conflit de DESKTOP-RC6BFKD 2022-05-30).cache
ansible/target.sh
ansible/hosts
app/Helpers/Cg copy.php
setenv.py
setenv.sh
